In [1]:
import numpy as np
import pandas as pd

In [3]:
q1 = {'Japan':80, 'China':450, 'India':200, 'USA':250}
q2 = {'Brazil':145, 'China':600, 'India':260, 'USA':280}

sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [7]:
sales_q1['Japan']

80

In [8]:
sales_q2['Brazil']

145

In [9]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [12]:
sales_q1 /100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [15]:
sales_q3 = sales_q1 + sales_q2
sales_q3

Brazil       NaN
China     1050.0
India      460.0
Japan        NaN
USA        530.0
dtype: float64

In [17]:
sales_q3 = sales_q1.add(sales_q2, fill_value=0)
sales_q3

Brazil     145.0
China     1050.0
India      460.0
Japan       80.0
USA        530.0
dtype: float64