In [7]:
import pandas as pd
import openpyxl as opxl
import xlrd as xlr

In [ ]:
# csv
df = pd.read_csv('example.csv', index_col=0)
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [ ]:
df.to_csv('new.csv', index=False)
df = pd.read_csv('new.csv')
df

    b   c   d
0   1   2   3
1   5   6   7
2   9  10  11
3  13  14  15

In [5]:
# excel
df = pd.read_excel('my_excel_file.xlsx', sheet_name='First_Sheet')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [10]:
wb = pd.ExcelFile('my_excel_file.xlsx')
wb.sheet_names

['First_Sheet']

In [11]:
xl_dict = pd.read_excel('my_excel_file.xlsx', sheet_name=None)

In [14]:
type(xl_dict)

dict

In [15]:
xl_dict.keys()

dict_keys(['First_Sheet'])

In [16]:
df = xl_dict['First_Sheet']

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [17]:
df.to_excel('new.xlsx', sheet_name='New_Sheet', index=False)
pd.read_excel('new.xlsx', sheet_name='New_Sheet')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [ ]:
# sql